#Задача 1
Написать функцию на вход которой подается строка, состоящая из латинских букв.
Функция должна вернуть количество гласных букв (a, e, i, o, u) в этой строке. Написать тесты для кода

In [ ]:
def checker(strnote):
   letters = ['a','e','i','o','u']
   counter = 0
   try:
       for i in strnote:
           if i.lower() in letters:
               counter+=1
       return counter
   except:
       return "Неправильный ввод"
print(checker('qwedasdasdqw'))
print(checker('Hello world!'))
print(checker(10000000000))
print(checker('1we'))

3
3
Неправильный ввод
1

# Задача 2
Написать функцию на вход, которой подается строка. Функция должна вернуть true, если
каждый символ в строке встречается только 1 раз, иначе должна вернуть false. Написать тесты для кода

In [ ]:
def isset(strnote):
    try:
        return len(strnote)==len(set(strnote))
    except:
        return "Неправильный ввод"
print(isset("abcdef"))    # True
print(isset("hello"))     # False
print(isset(12345))

True
False
Неправильный ввод

# Задача 3
Написать функцию, которая принимает положительное число и возвращает количество
бит равных 1 в этом числе. Написать тесты для кода

In [ ]:
def counter(number):
    try:
        return bin(number).count('1')
    except:
        return "Неправильный Ввод"
print(counter(5))
print(counter(2))
print(counter('qweqweqwe'))

2
1
Неправильный Ввод

# Задача 4
Написать функцию, которая принимает положительное число. Функция должна вернуть то,
сколько раз необходимо перемножать цифры числа или результат перемножения, чтобы
получилось число состоящее из одной цифры.
Например, для входного числа:
· 39 функция должна вернуть 3, так как 3*9=27 => 2*7=14 => 1*4=4
· 4 функция должна вернуть 0, так как число уже состоит из одной цифры
· 999 функция должна вернуть 4, так как 9*9*9=729 => 7*2*9=126 => 1*2*6=12 =>
1*2=2. Написать тесты для кода

In [ ]:
def magic(n):
    counter = 0
    while n>=10:
        n = multi(n)
        counter+=1
    return counter
def multi(numeral):
    number = 1
    for i in str(numeral):
        number *= int(i)
    return number
print(magic(10))
print(magic(2))
print(magic(39))

1
0
3

# Задача 5
Написать функцию, которая принимает два целочисленных вектора одинаковой длины и
возвращает среднеквадратическое отклонение двух векторов. Написать тесты для кода

In [ ]:
import math
def mse(vector1,vector2):
    numbers = 0
    for i in range(len(vector1)):
        numbers+=math.pow(vector1[i]-vector2[i],2)
    return math.sqrt(numbers/len(vector1))
print(mse([1,2,3],[1,0,1]))
print(mse([2,3,1],[2,2,1]))
print(mse([3,2,3],[1,2,1]))

1.632993161855452
0.5773502691896257
1.632993161855452

# Задача 6
Написать функцию, принимающая целое положительное число. Функция должна вернуть
строку вида “(n1**p1)(n2**p2)…(nk**pk)” представляющая разложение числа на простые
множители (если pi == 1, то выводить только ni).
Например, для числа 86240 функция должна вернуть “(2**5)(5)(7**2)(11)”. Написать тесты для кода

In [ ]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True


def expansion(n):
    multipliers = {}
    for i in range(2,int(n**0.5)+1):
        while n%i==0:
            if i in multipliers:
                multipliers[i]+=1
            else:
                multipliers[i]=1
            n//=i
    if n>1:
        multipliers[n] = 1
        
    multipliers_str =""
    for key,value in multipliers.items():
        if value > 1:
            multipliers_str += f"({key}**{value})"
        else:
            multipliers_str += f"({key})"
    return multipliers_str
print(expansion(20))
print(expansion(39))
print(expansion(999))
print(expansion(86240))

(2**2)(5)
(3)(13)
(3**3)(37)
(2**5)(5)(7**2)(11)

# Задача 7
Написать функцию, принимающая целое число n, задающее количество кубиков. Функция
должна определить, можно ли из данного кол-ва кубиков построить пирамиду, то есть
можно ли представить число n как 1^2+2^2+3^2+…+k^2. Если можно, то функция должна
вернуть k, иначе строку “It is impossible”. Написать тесты для кода

In [ ]:
def pyramid(n):
    k = 0
    sum_of_squares = 0
    while True:
        k += 1
        sum_of_squares = (k * (k + 1) * (2 * k + 1)) // 6
        if sum_of_squares == n:
            return k
        elif sum_of_squares > n:
            break
    return 'It is impossible'


print(pyramid(5))
print(pyramid(14))
print(pyramid(30))

2
1
It is impossible
It is impossible
7

# Задача 8
Функция принимает на вход положительное число и определяет является ли оно сбалансированным, т.е. сумма цифр до средних равна сумме цифр после. Средними в случае нечетного числа цифр считать одну цифру, в случае четного - две средних. Написать тесты для кода

In [ ]:
def overall(n):
    str_n = str(n)
    n1 = ''
    n2 = ''
    if len(str_n)%2==0:
        n1 = str_n[:len(str_n)//2]
        n2 = str_n[len(str_n)//2:]
    else:
        n1 = str_n[:len(str_n)//2]
        n2 = str_n[(len(str_n) // 2)+1:]
    return sum(n1)==sum(n2)
def sum(n):
    result = 0
    for i in n:
        result += int(i)
    return result

print(overall(2222212313131))
print(overall(123321))
print(overall(111))

False
True
True